main {
    // margin: 0px 20px 0px 20px;
    .section_2{

        .cards {
 display: flex;
 flex-direction: row;
     margin: 60px;
    justify-content: space-around;

    img {
      display: flex;
      width: 400px;
      height: 450px;
    }

    .text {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      padding: 10px;
      font-size: large;

      span {
        color: gray;
        font-weight: 10rem;
      }
    }
  }

    }
  

  .customer{
    align-items: flex-start;
    .customer_say{
        
        margin: 20px;
        padding: 20px;
        justify-content: center;
        
        display: flex;
         width: 100%;
         flex-direction: column;
        .text_container{
            margin: auto;
            width: 100%;
          display: flex;
         justify-content: space-between;
          align-items: center;

         
             .text{
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                gap: 20px;
                max-width: 500px;
                p{
                    font-size: 18px;
                    max-width: 300px;
                    margin-right: 50px;
                    
                }
                img{
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }

    }
      


  }
  #section_4 {
    background-image: url("https://websitedemos.net/earth-store-02/wp-content/uploads/sites/1171/2022/10/Call-to-action.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;

    .postcard {
      padding-top: 25vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-weight: 20px;
        font-size: 32px;
        margin-top: 30px;
      }

      h4 {
        color: rgb(30, 181, 30);
        font-size: 22px;
        margin: 20px;
      }

      a {
        background-color: green;
        width: 200px;
        height: 40px;
        text-align: center;
        padding: 10px;
        color: white;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }

      a:hover {
        background-color: rgb(134, 198, 38);
      }
    }
  }

  #section_5 {
    .payment {
      display: flex;

      flex-direction: column;
    }
  }

